@import url('https://fonts.googleapis.com/css2family=Spartan:wght@100;200;300;400;500;600;700;800;900display=swap');
* {

       font-family: 'Spartan',sans-serif;
}
h1{
          font-size: 50px;
          line-height: 65px;
          color: black;
}
h2{
          font-size: 50px;
          line-height: 65px;
          color: black;
}
h3{
          font-size: 40px;
          color: black;
}
h4{
          font-size: 20px;
          line-height: 65px;
          color: black;
}
h6{
          font-weight: 700;
          font-size: 12px;
          margin: 15ppx 0 20px 0;
}
.section m1{
       margin: 40px 0;
}
#div-container{
       display: flex;
       flex-direction: column;
       width: 100%;
      
}
.section-p1{
        
          width: 100%;
}
p.info{
      color: #4d4d4d;
      size: 10px;
      font-size: small;
}
.star{
       color: #eee429;
}

button.normal{
       font-size: 14px;
       font-weight: 600px;
       padding: 15px 30px;
       color: #1a1a1a;
       background-color: #ffffff;
       cursor: pointer;
       border: none;
       outline: none;
       transition: 0.2s;
}

button.white{
       font-size: 13px;
       font-weight: 600px;
       padding: 11px 28px;
       color: #ffffff;
       background-color: transparent;
       cursor: pointer;
       border: 1px solid #ffffff;
       outline: none;
       transition: 0.2s;
}
#cart{
       
       width: max-content;
       height: max-content;
       
}
body{
          width: 100%;
          margin: 0px 0px;
}
#header{
       width: 100%;
       display: flex;
       flex-wrap: wrap;   
       align-items: center;
       justify-content: space-between;
       padding: 0 0px;
       background-color: #3081D0;
       box-shadow: 5px 10px 45px rgba(74, 70, 70, 0);
       z-index: 999;
       position: sticky;
       top: 0;
       left: 0;

       
}
#navbar{
       padding-right: 20px;
       display: flex;
       flex-wrap: wrap; 
       align-items: center;
       justify-content: center;
}
#search-bar{ 
       background-color: #d0d0d0;
       border-radius: 10px;
       border: none;
}

#navbar button{
       background-color: #00bbff;
       border: none;
       border-radius: 10px;
       margin-left: -105px;
}
#navbar li{
       display: flex;
       align-items: center;
       justify-content: center;
       font-size: large;
       font-weight: 400;
       margin-right: 10px;

}
#mobile{
       display: none;
       align-items: center;
   }


#navbar li a{
       text-decoration: none;
       font-size: 16px;
       font-weight: 600;
       color: #1a1a1a;
       transition: 0.5s ease;
}
#navbar li a:hover,
#navbar li a.active{
       color: rgb(33, 227, 227);
}
#navbar li a.active::after,
#navbar li a.hover::after{
       content: "";
       width: 60%;
       height: 2px;
       background: #4dfff3;
       position: absolute;
       bottom: -4px;
       left: 20px;

}
#nav-logo{
       height: 50px;
       width: 100%;
       padding: 10px 10px;
       border: none;
       border-radius: 20px;
       box-shadow: #096ab4 10px 10px 10px 10px;
}
/* Home Page*/

#hero{
       background-image: url("imgs/hero4.png");
       display: flex;
       background-color: #6DB9EF;
       height: max-content;
       background-position: center;
       background-size: contain;
       width: 100%;
       background-repeat: no-repeat;
       justify-items: center;
         
}
#hero h4{
       padding: 0px 0px;
       margin: 0px 0px;
       text-align: start;
}
#hero h2{
       padding: 0px 0px;
       margin: 0px 0px;
       text-align: start;
}
#hero h1{
       padding: 0px 0px;
       margin: 0px 0px;
       text-align: start;
}
#hero-offer-text{
       
       padding: 0px 50px;
       margin: 0px 0px;
       text-align: left;
             
}
#hero button{
       background-color: transparent; 
       color: #663a96;
       padding: 14px 50px;
       border: 0;
       margin-bottom: 100px;
       cursor: pointer;
       font-weight: 700;
       font-size: 25px;
             
}

#hero h1{
     
       color: rgb(218, 18, 111);
}
/* -----------------------------card view--------------------------------------------*/


#div-card-container{
       display: flex;
       flex-direction: row;
       width: 100%;
       height: fit-content;
       text-align: center;
       padding: 50px 0px;
       margin: auto ;
       justify-content: space-between;  
       
}
.shipping{
       padding: 30px 30px; 
       height: 130px;
       width: 120px;
       display: flex;
       flex-direction: column; 
       box-shadow: 2px 1px 35px;
       border-radius: 10%;
       
   }
.shipping:hover{
       box-shadow: 2px 5px 55px;
}

.online-order{
       padding: 30px 30px; 
       height: 130px;
       width: 120px;
       display: flex;
       flex-direction: column; 
       box-shadow: 2px 1px 35px;
       border-radius: 10%;
}
.online-order:hover{
       box-shadow: 2px 5px 55px;
}
.Save-money{
       padding: 30px 30px; 
       height: 130px;
       width: 120px;
       display: flex;
       flex-direction: column; 
       box-shadow: 2px 1px 35px;
       border-radius: 10%;
}
.Save-money:hover{
       box-shadow: 2px 5px 55px;
}

.Promotion{
       padding: 30px 30px; 
       height: 130px;
       width: 120px;
       display: flex;
       flex-direction: column; 
       box-shadow: 2px 1px 35px;
       border-radius: 10%;
   
}
.Promotion:hover{
       box-shadow: 2px 5px 55px;
}
.sevice-support{
       padding: 30px 30px; 
       height: 130px;
       width: 120px;
       display: flex;
       flex-direction: column; 
       box-shadow: 2px 1px 35px;
       border-radius: 10%;
}
.sevice-support:hover{
       box-shadow: 2px 5px 55px;

}
#product {
       justify-content: 100%;
       width: 100%;
       text-align: center;
       color: #3081D0;
       
}
#product h2{
       background-color: #096ab4;
       color: #ffffff;
       width: 100%;
       padding: 50px 60px 50px;
       height: 80px;
       box-shadow: 10px 10px 20px #444444;
       transition: 0.3s;
       
       
}
#product h2:hover{
       color: #1c2460;
       box-shadow: 10px 10px 20px rgb(0,0,0,0.6);
}
#product .pro-container{
       display: flex;
       align-content: flex-start;
       justify-content: space-between;
       height: fit-content;
       width: fit-content;
       flex-wrap: wrap;
       background-color: #F4F27E;

}
#product .pro{
       display: flex;
       flex-direction: column;
       height: fit-content;
       min-width: 280px;
       justify-items: left;
       border: 1px solid #cce7d0;
       padding: 10px 10px;
       margin: 20px 15px;
       border-radius: 10px;
       cursor: pointer;
       background-color: #ffffff;
}
#product .pro img{
       width: 100%;
       height: 40vh;
       border-radius: 20px;
       background-color: #cce7d0;
       box-shadow: 10px 10px 100px rgb(0,0,0,0.2);
       transition: 0.3s;
       margin: auto;
}
#product .pro img:hover{
       box-shadow: 10px 10px 50px  rgb(0,0,0,0.6);
}
#product .pro .des{
       color: #606063;
       font-size: 20px;
       font-weight: 700;
       text-align: left;
       
       
}
#product .pro .des h5{
        font-size: 15px;
        margin-top: 0px;
        padding-top: 0px;
        height: 20px; }
#product .pro h4{
       margin-top: 0px;
       padding-top: 0px;
       height: 20px;  
}

/* section ------------NEW ARRIVAL-------------------*/
#new-arrival-product{
       text-align: center;
       justify-content: center;
       align-items: center;
       display: flex;
       flex-direction: column;
       background-color: #096ab4;
}
#banner{
       
       background-image: url("imgs/new\ arival\ logo.png");
       width: 100%;
}
#banner button{
       padding: 15px 40px; 
       background-color: #ff2595;
       color: #1c2460;
       font-size: large;
       font-style: oblique;
       box-shadow: 1px 30px 100px 20px #558cfa;
       border-radius: 10px;
       border: none;
       margin: 50px;
}
#banner .h2 .span{
       color: #663a96;
}
#banner button:hover{
        box-shadow: 1px 30px 100px 20px #92a8ff;
}
#new-arrival-product h1{
       margin: 30px;
       padding: 20px;
       color: #ffffff;
       font-size: 100px;
}
#new-arrival-product h4{
       color: #ffffff;
       font-style: italic;
}

#new-arrival-product {
       justify-content: 100%;
       width: 100%;
       text-align: center;
       color: #3081D0;
       
}
#new-arrival-product h2 span{
       color: #ff2929;
       
}

#new-arrival-product .pro-container{
       display: flex;
       align-content: flex-start;
       justify-content: space-between;
       height: fit-content;
       width: fit-content;
       flex-wrap: wrap;
       background-color: #F4F27E;

}
#new-arrival-product .pro{
       display: flex;
       flex-direction: column;
       height: fit-content;
       min-width: 280px;
       justify-items: left;
       border: 1px solid #cce7d0;
       padding: 10px 10px;
       margin: 20px 15px;
       border-radius: 10px;
       cursor: pointer;
       background-color: #ffffff;

}
#new-arrival-product .pro img{
       width: 100%;
       height: 40vh;
       border-radius: 20px;
       background-color: #d3d3d3;
       box-shadow: 10px 10px 100px rgb(0,0,0,0.2);
       transition: 0.3s;
       
}
#new-arrival-product .pro img:hover{
       box-shadow: 10px 10px 50px  rgb(0,0,0,0.6);
}
#new-arrival-product .pro .des{
       color: #606063;
       justify-content: left;
       font-size: 10px;
       justify-items: left;
       align-items: flex-start;
       text-align: left;
       
}
#new-arrival-product .pro .des h5{ 
       font-size: 12px;
       margin-top: 0px;
       padding-top: 0px;
       height: 20px; 
}
#new-arrival-product .pro .des h4{ 
       font-size: 25px;
       margin-top: 0px;
       padding-top: -20px;
       height: 34px; 
}

/*---------collection banner----------*/
#collection-banner{
       align-items: center;
       align-content: center;
       text-align: center;
       display: flex;
       flex-wrap: wrap;
}
#offer{
       background-color: #cce7d0;
       margin: 30px 30px;
       border-radius: 30px;
       display: flex;
       flex-wrap: wrap;
       height: fit-content;
       
}
#offer img{

       height: 500px;
       margin-right: -5%;
       
}
#banner-box{
       background-image: url("imgs/buy-one-get\ post.png");
       background-color: #db0000;
       background-size: 40%;
       background-repeat: no-repeat;
       background-position: right top;
       margin: 30px 30px;
       width: 580px;
       height: max-content;
       border-radius: 20px;
       display: flex;
       flex-direction: column;
       
}
#banner-box h2{
       color: #ffffff;
       text-align: left;
       margin: 10% 20px;
       height: 40px;
       font-weight: 800px;
       margin-bottom: 0%;
              
}
#banner-box h3{
       color: #ffffff;
       text-align: left;
       margin : 30px 20px;
       font-weight: 600;
       height: 40px;
                   
}
#banner-box h4{
       color: #ffffff;
       text-align: left;
       margin : 30px 20px;
       height: 20px;
       font-weight: 600;
       margin-bottom: 10%;
                   
}
#banner-box button{
       background-color: #db0000;
       width: fit-content;
       align-self: flex-start;
       margin: 20px 30px;
       height: 35px;
       color: #ffffff;
       padding: 10px 20px;
       border-color: #c1c1c1;
       border-width: 1px;
}

#banner-box:hover button{
       background-color: #088178;
       border: 1px solid #088178;;
}
.form{
       width: 100%;

}
#signup-banner{
       background-color: #1c2460;
       display: flex;
}
#signup-banner h3{
       color: #ffffff;
       margin: 10px 30px;
}
#signup-banner h5{
       color: #8e8e8e;
       margin: 10px 30px;
}
#fill-form{
       display: flex;
       flex-direction: column;

}
#fill-form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    
    
   
}

#fill-form-text {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #003bc4;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
.template{
       width: 100%;
       height: 50vh;
       display: flex;
       text-align: left;
       justify-content: space-around;   
       background-color: #b5b5b5;
      
      }
.template .contact-us{
       margin-top: 100px;
       width: 100%;
       display: flex;
       justify-content: center top;
       flex-direction: column;
       text-align: left;   

}
.template #about-us{
       margin-top: 100px;
       width: 100%;
       display: flex;
       justify-content: center top;
       flex-direction: column;
       text-align: left;  
}
.template #about-app{
       margin-top: 100px;
       width: 100%;
       display: flex;
       justify-content: center top;
       flex-direction: column;
       text-align: left;  
}
.template h4{
       display: flex;
       margin: 0px 0px;
       padding: 0 0px;
}

.template h3{
       margin-right: 1000% ;
       padding: 0 0px;
}
.template #contact-us h5{
       margin: 0% ;
       padding: 0 0px;
}
#pro-container .pro h4{
       color: #1a1a1a;
       margin: 0px 0px 0px 0px;
       padding:  0px 0px 0px 0px;
}

/*-----------meadia quarry-----------*/

@media (max-width:799px) {
       #navbar {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
              position: fixed;
              top: 0;
              right: -300px;
              height: 100vh;
              width: 250px;
              background-color: #f1f1f1;
              box-shadow: 0 49px 60px rgb(0,0,0,0.1);
              padding: 50px 0 0 20px ;
              transition: 0.4s;
       
          }
          #navbar:hover{
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-start;
              position: fixed;
              top: 0;
              right: 0px;
              height: 100vh;
              width: 250px;
              background-color: #f1f1f1;
              box-shadow: 0 49px 60px rgb(0,0,0,0.1);
              padding: 50px 0 0 20px;

       
          }
          #navbar li{
              margin-bottom: 30px;
          }
          #mobile{
              display: flex;
              
              margin-right: 20px;
              align-items: center;
          }
          #hero {
              background-image: url("imgs/hero4.png");
              display: flex;
              background-color: #6DB9EF;
              height: min-content;
              background-position: center;
              background-size: contain;
              width: 100%;
              background-repeat: no-repeat;
              justify-items: center;
          }
          #hero-offer-text {
              justify-content: left;
              padding: 0px 20px;
              margin: 20px 0px;
              text-align: left;
              
          }
          #div-card-container {
              display: flex;
              flex-wrap: wrap;
              width: 90%;
              text-align: center;
              padding: 80px 20px 20px 20px;
              justify-items: center;
              justify-content: space-around;
              
          }
          #card-view{
              margin-bottom: 40px;
          }
         
          #product h2 {
              background-color: #096ab4;
              color: #ffffff;
              width: 100%;
              padding-right: 0%;
              padding-left: 0px;
              height: 80px;
              box-shadow: 10px 10px 20px #444444;
              transition: 0.3s;
          }
          #product .pro-container {
              display: flex;
              justify-content: space-around;
              height: fit-content;
              width:100%;
              flex-wrap: wrap;
              background-color: #F4F27E;
          }
          #product .pro {
              display: flex;
              flex-direction: column;
              height: fit-content;
              min-width: 250px;
              width: 300px;
              justify-items: left;
              border: 1px solid #cce7d0;
              padding: 10px 10px;
              margin: 20px 15px;
              border-radius: 10px;
              cursor: pointer;
              background-color: #ffffff;
          }
          #banner {
              background-image: url("imgs/new\ arival\ logo.png");
              width: 100%;
              height: 30vh;
          }
          h3 {
              display: block;
              font-size: 20px;
              font-weight: 900;
              margin-bottom: 0%;
          }
          h2 {
              font-size: 50px;
              line-height: 65px;
              margin-top: 0%;
              margin-bottom: 0%;
              color: black;
          }
          #banner button {
              padding: 15px 40px;
              background-color: #ff2595;
              color: #1c2460;
              font-size: large;
              font-style: oblique;
              box-shadow: 1px 30px 100px 20px #558cfa;
              border-radius: 10px;
              border: none;
              margin-top: 0%;
              margin-bottom: 0%;
          }
          #new-arrival-product .pro-container {
              display: flex;
              justify-content: space-around;
              height: fit-content;
              width:100%;
              flex-wrap: wrap;
              background-color: #F4F27E;
          }
          #new-arrival-product .pro {
              display: flex;
              flex-direction: column;
              height: fit-content;
              min-width: 250px;
              width: 300px;
              justify-items: left;
              border: 1px solid #cce7d0;
              padding: 10px 10px;
              margin: 20px 15px;
              border-radius: 10px;
              cursor: pointer;
              background-color: #ffffff;
          }

          
       
}